<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Dashboard</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .stat-card {
            border: none;
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }
        .stat-card:hover {
            transform: translateY(-10px);
        }
        .list-group-item {
            border-color: rgba(0, 0, 0, 0.125);
        }
        .table thead th {
            background-color: #343a40;
            color: #fff;
        }
        .table-hover tbody tr:hover {
            background-color: #e9ecef;
        }

        /* make list scrollable */
        .scrollable {
            max-height: 200px;  /* Set the maximum height of the scrollable area */
            overflow-y: auto;   /* Enables vertical scrolling */
            overflow-x: auto;   /* Enables horizontal scrolling */
            white-space: nowrap; /* Prevents text from wrapping and forces horizontal scrolling */
        }


        /* General Loader Styles */
        .loader-container {
            display: none; /* Hide loader initially */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5); /* Optional background overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000; /* Above all content */
        }

        /* Spinner Loader */
        .spinner-loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" position: fixed; top: 0px; left: 0px; right: 0px; z-index: 2;">
        <div class="container">
            <a href="{{url_for('branches')}}" class="navbar-brand">Back</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-white ">
                    <li class="nav-item m-2">
                        <div class="text-display-2  "> Portfolio</div>
                        <div class="fs-4 text-danger">300000008877</div>
                    </li>
                    <li class="nav-item m-2">
                        <div class="text-display-2 "> Saving Accounts</div>
                        <div class="fs-4">30029938474747</div>
                        
                    </li>
                    <li class="nav-item m-2">
                        <div class="text-display-2 ">  Credit Accounts</div>
                        <div class="fs-4 text-info">3003837474440</div>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>

    <div class="container-fluid " style="margin-top: 150px;">
        <!-- Loader Container -->
        <div class="loader-container" id="loader">
            <div class="spinner-loader"></div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- portifolio -->
            <div class="col">
                <div class="card stat-card shadow-sm" style="background-color: #dc3545; padding: 10px;">
                    <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                        <div class="card-title">
                            <h1>
                                 Portfolio
                            </h1>
                        </div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col" >
                                    <img src="../static/icons/briefcase-solid (1).svg" alt="Portfolio " width="46px" >
                                    <div class="badge" style="position: absolute; left: 0px; right: 10px; bottom: 6px; font-size: medium;">Ugx:</div>
                                </div>
                                <div id="portifolio" class="col" style="font-size: 32px; font-weight: bolder; margin-left: 10px; color: white;" >
                                    0    
                                </div>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- targets -->
            <div class="col">
                <div class="card stat-card shadow-sm" style="background-color: #d63384; padding: 1px;">
                    <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                        <div class="card-title">
                             <h1>
                                 Collections
                             </h1>
                        </div>
                        <div class="card-text" >
                            <div class="row">
                                <div class="col" style="position: relative;">
                                    <img src="../static/icons/icons8-sales-96.png" alt="Portfolio " width="46px" style="position: absolute; left: -39px; right: 0px; top: 0px; bottom: 10px; padding-right: 5px;">
                                    <div class="badge" style="position: absolute; left: 0px; right: 10px; bottom: 6px; font-size: medium;">Ugx:</div>
                                </div>
                                <div id="collections" class="col" style="font-size: 32px; font-weight: bolder; margin-left: 10px; color: white;" >
                                    0     
                                </div>
                            </div>
                            <div class="row">
                                <div  class="col credit " style="font-size:small;">savings:<span style="color: white;" id="total_credit">0</span>/= </div>
                                <div  class=" col savings" style="font-size:small;">credit:<span style="color: white;" id="total_savings">0</span>/= </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
             <!-- collection -->
            <div class="col  ">
                <div class="card stat-card shadow-sm border-0 " style="background-color: #fd7e14; color: white; padding: 10px;">
                    <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                        <div class="card-title">
                            <h1 style="color: black;">
                                Expectation
                            </h1>
                        </div>
                        <div class="card-text" >
                            <div class="row">
                                <div class="col" style="position: relative">
                                    <img src="../static/icons/groupIcon.svg" alt="Exceptation icon" width="46" style="position: absolute; left: -39px; right: 0px; top: 0px; bottom: 10px; padding-right: 5px;">
                                    <div class="badge" style="position: absolute; left: 0px; right: 10px; bottom: 6px; font-size: medium;">Ugx:</div>
                                </div>
                                <div class="col" id="Exceptation_value" style="font-size: 32px; font-weight: bolder; margin-left: 10px; color: white;">
                                    0     
                                </div>
                                 
                            </div>
                             
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
        

        <div class="row mt-5">
            <div class="col">
                <div class="card ">
                    <a data-bs-target="#client_category" data-bs-toggle="modal" class="btn btn-primary"> Client Center </a>
                    <div class="modal" id="client_category">
                        <div class="modal-dialog modal-dailog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title">Close </div>
                                    <button class="btn-close" data-bs-target="#client_category" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <a href="{{url_for('activateClientsOnManagersPage')}}" class="btn btn-primary"> Activate Client</a>
                                    <a href="{{url_for('finshedLoanClientsOnManagersPage')}}" class="btn btn-secondary"> Finshed Loan</a>
                                    <a href="{{url_for('allClientsForManager')}}" class="btn btn-dark">All clients</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="card ">
                    <a class="btn btn-primary" data-bs-target="#recievable_category" data-bs-toggle="modal"> Acount Recivables</a>
                    <div class="modal" id="recievable_category">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title">Close</div>
                                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#recievable_category"></button>
                                </div>
                                <div class="modal-body">
                                    <a href="{{url_for('recievablesSavingsOnManagerspage')}}" class="btn btn-primary">Savings</a>
                                    <a href="{{url_for('recievablesCreditOnManagerspage')}}" class="btn btn-secondary">Credit</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card ">
                    <a href="{{url_for('collectionSheetOnmanagerpage')}}" class="btn btn-primary"> Collection Sheet </a>
                </div>
            </div>
            <!-- <div class="col">
                <div class="card ">
                    <a href="#" class="btn btn-primary"> Overdue & Penalties </a>
                </div>
            </div> -->
        </div>

        <div class="row  mt-4">
            <div class="col-md-4">
                <div class="card p-3">
                    <h5 class="card-title">Exceptation</h5>
                    <ul class="list-group list-group-flush scrollable" id="Exceptation_details">
                       
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3">
                    <h5 class="card-title">Credit Payments</h5>
                    <ul class="list-group list-group-flush scrollable" id="credit">
                        
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3">
                    <h5 class="card-title"> Investments </h5>
                    <ul class="list-group list-group-flush scrollable" id="investment">
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Officers </th>
                                <th>Contacts</th>
                            </tr>
                        </thead>
                        <tbody id="employeeDetails">
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>

    <!-- <div class="container mt-5">
        

        

        
    </div> -->

    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function getOfficerPortifolioDetails(){
            return await fetch("/branch?type=portifolio")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching portifolio details")
                    }
                    return response.json()
                    
                })
                .then(data =>{
                    if(data != 'None'){
                        return data
                    }
                    else{
                        return {"totalPortifoli":0}
                    }
                })
                .catch(error =>{
                    console.log(error)
                })
        };

        async function fetchInvestmentDetails() {
            return await fetch("/branch?type=savings")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error  while fetching investment details for a specfic employee")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };

        async function fetchClientDebtedLoanAccountDetails() {
            return fetch("/branch?type=credit")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching client debted loan details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };

        async function collectionSheetDetails() {
            return fetch("/branch?type=ForSpecificBranch")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching client debted loan details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };

        async function branchOfficersDetails() {
            return fetch("/branch?type=officers")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching client debted loan details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };
        

        function generateCreditPaymentHtml(data){
            let html = "";
            let total = 0;
            if (data){
                data.forEach((obj) =>{
                    total += obj["AmountPaid"]
                    html += `
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            ${obj["fName"]}
                            <span class="badge bg-primary">Paid</span>
                        </li>
                    `
                })
                return {"total":total, "html": html}

            }else{
                return {"total":total, "html": "<li> No One has paid yet </li>"}
            }
            


        };

        function generateinvestmenthtml(data){
            let html = "";
            let total = 0;
            if(data){
                data.forEach((obj) =>{
                    total += obj["Amount"];
                    html += `
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            ${obj["fname"]}    
                            <span class="badge bg-success">invested </span>
                        </li>   
                    ` 

                });
                return {"total":total, "html": html}

            }else{
                return {"total":total, "html": "<li> No One has invested yet </li>"}
            }

        };
        function generateCollectionSheetAndExpectationHtml(data){
            let html = "";
            let total = 0;
            if(data){
                data.forEach((obj) =>{
                    total += Number(obj["commitment"]);
                    html += `
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            ${obj["clientFName"]}<span>${obj["clientSName"]}</span>
                            <span class="badge bg-primary">${obj["commitment"]}</span>
                        </li>   
                    ` 

                });
                return {"total":total, "html": html};

            }else{
                return {"total":total, "html": "<li> No loan issued out  yet </li>"}
            }

        };

        function sendEmployeeId(id){
            const Element = document.getElementById(`${id}`);
            Element.addEventListener("click",(event) =>{
                event.preventDefault();
                const Eid = Element.getAttribute("data-employee-id");
                fetch("/employeeProfile",{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify({"type":"employeeIdFromManagersPage","data":Eid})
                    

                })
                .then(response =>{
                    if(!response.ok){
                        throw new Error("error while sending employee id from managers page")
                    }
                    return response.json()
                })
                .then(data =>{
                    if (data["status"] === "idRecieved"){
                        window.location.href = "/employeeProfile"
                    }
                })
                
                

            })

        }

        function generateOfficersDetails(data){
            let html = "";
            if(data){
                data.forEach((obj, index) =>{
                    html += `
                        <tr>
                            <td>
                                <div  id=${index} data-employee-id=${obj["employeeId"]} class="link btn btn-outline-primary text-black" onclick="sendEmployeeId('${index}')"> ${obj["Fname"]} <span> </span> ${obj["Lname"]} </div>
                            </td>
                            <td>0756333333</td>
                        </tr>
                    `
                })
                return html;
            }
            return "<div> No Employee attached to this branch yet </div>"

        }


        async function loadHtml(){
            // data
            const portifolio =   await getOfficerPortifolioDetails();
            const credit =  await  fetchClientDebtedLoanAccountDetails();
            const collectionSheet = await collectionSheetDetails();
            const savings = await fetchInvestmentDetails();
            const employeebranchDetails = await branchOfficersDetails();

            // htmls 
            const chtml = await generateCreditPaymentHtml(credit);
            const ihtml = await generateinvestmenthtml(savings);
            const ehtml = await generateCollectionSheetAndExpectationHtml(collectionSheet);
            const bhtml = await generateOfficersDetails(employeebranchDetails)
            const total_collections = ihtml["total"] + chtml["total"]
            
    
            document.getElementById("portifolio").innerHTML = portifolio["totalPortifoli"]
            document.getElementById("investment").innerHTML = ihtml["html"];
            document.getElementById("credit").innerHTML = chtml["html"];
            document.getElementById("collections").innerHTML = total_collections;
            document.getElementById("total_savings").innerHTML = ihtml["total"] ;
            document.getElementById("total_credit").innerHTML = chtml["total"];
            document.getElementById("Exceptation_details").innerHTML = ehtml["html"];
            document.getElementById("Exceptation_value").innerHTML  = ehtml["total"];
            document.getElementById("employeeDetails").innerHTML = bhtml;
        }

        loadHtml();
        
    </script>

</body>
</html>
