<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate clients</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .table-wraper{
            height: 200px;
            overflow: auto;
        }

        .table-fixed-header thead th{
            position: sticky;
            background-color: white;
            top: 0px;
            z-index: 1;
        }
         /* General Loader Styles */
         .loader-container {
            display: none; /* Hide loader initially */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5); /* Optional background overlay */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000; /* Above all content */
        }

        /* Spinner Loader */
        .spinner-loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a href="#" class="navbar-brand">NisaFinancing</a>
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li> -->
                <li class="nav-item">
                    <a href="{{url_for('branch')}}" class="nav-link">Back</a>
                </li>
                
            </ul>

        </div>
    </nav>

    <div class="container mt-5">
        <div class="loader-container" id="loader">
            <div class="spinner-loader"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-head bg-success">
                        statistics
                    </div>
                    <div class="card-body">
                        <!-- <div> <strong>Total portifolio (Ugx): </strong> <span> 5000000</span> </div> -->
                        <div> <strong>No. of clients</strong> <span id="numberofclient"> </span> </div>
                        
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="card">
                    <div class="card-head bg-danger">
                        statistics
                    </div>
                    <div class="card-body">
                        <div> <strong>Penalties</strong> <span> 230000</span> </div>
                        <div> <strong>Overdue</strong> <span> 500000</span> </div>
                    </div>
                </div>
            </div> -->
        </div>
        
    </div>

    <div class="container mt-3">
       
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="client's name" >
                            <button class="btn btn-outline-secondary" type="button" > search</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-lg  table-wraper ">
                            <table class="table table-fixed-header table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Gender</th>
                                        <th>Branch</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    <!-- table rows to be generated by js -->
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchClientsWithActivateLoans() {
            return fetch("/activateClientsOnManagersPage?type=activeLoan")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching client debted loan details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };

        function generateHtml(data){
            let html = "";
            let totalNumber = data.length;
            data.forEach((clientObject,index) =>{
                html += `
                    <tr>
                        <td>${index + 1}</td>
                        <td>
                            <a class="clientLink" data-client-id="${clientObject["AccountNumber"]}" style="cursor: pointer;" >${clientObject["fName"]} <span style="margin-left:3px"> ${clientObject["lName"]}</span> </a>
                        </td>
                        <td> ${clientObject["Phonenumber"]}</td>
                        <td> ${clientObject["Gender"]}</td>
                        <td> ${clientObject["BranchName"]}</td>
                    </tr>
                `

            })
            return {"html":html, "NumberOfClients":totalNumber}
        };

        async function sendClientIdToserver(){
            let clientElements = document.querySelectorAll(".clientLink");
            clientElements.forEach((clientElement)=>{
                clientElement.addEventListener("click",(event)=>{
                    event.preventDefault();
                    let id = clientElement.getAttribute("data-client-id");
                    let data = {"type":"clientID","data":id}

                    fetch("/clientProfileOnManagersPage",{
                        method:"POST",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body:JSON.stringify(data)
                    })
                    .then(response =>{
                        if(!response.ok){
                            throw new Error("error while sending clicked client")
                        }
                        return response.json()
                    })
                    .then(data =>{
                        window.location.href = "/clientProfileOnManagersPage"
                    } )
                    .catch(error =>{
                        alert(error)
            
                    })


                })
            })
            
            
        }

        async function loadhtml() {
            const loader = document.getElementById("loader");
            loader.style.display = "flex";
            const data = await fetchClientsWithActivateLoans();
            const Clientdetails = await generateHtml(data);
            document.getElementById("tablebody").innerHTML = Clientdetails["html"];
            document.getElementById("numberofclient").innerHTML = Clientdetails["NumberOfClients"];
            sendClientIdToserver();
            loader.style.display = "none"
        }
        loadhtml();
    </script>
</body>
</html>