<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Payment Details</title>
    <link   rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .modal-body-scrollable {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white d-flex flex-row justify-content-center align-item-space p-3">
        <div class="container">
            <a href="{{url_for('clientProfile')}}" class=" btn navbar-brand"> Back</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-toggle" aria-controls="footer" aria-label="Expand Navigation">
                <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse navbar-collapse" id="header-toggle">
                <ul class="navbar nav ms-auto">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="me-5">
                                    <span class="text-success">Cumulative Principle Paid (Ugx)</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-danger">Balance(Ugx)</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-success">Loan Term Coverd(Days)</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-info">Loan Term Remaining(Days)</span>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text-success">Ugx 20000</span>
                                </td>
                                <td>
                                    <span class="text-danger">Ugx 1000</span>
                                </td>
                                <td>
                                    <span class="text-success">10 Days</span>
                                </td>
                                <td>
                                    <span class="text-info">20 Days</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <li class="nav-item me-3"> <strong>Cumulative Principle Paid:</strong> <span class="text-success">Ugx 20000</span> </li>
                    <li class="nav-item me-3"> <strong>Balance:</strong><span class="text-danger">Ugx 1000</span></li>
                    <li class="nav-item me-3"><strong>Loan Term Coverd:</strong> <span class="text-success">10 Days</span> </li>
                    <li class="nav-item"><strong> Loan Term Remaining</strong> <span class="text-info">20 Days</span> </li> -->
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Loan Number
                                </th>
                                <th>Date </th>
                                <th>Amount Due</th>
                                <th>Status</th>
                                <th>Payment Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- this to be generated by the js and client  payment details  -->
                            <tr>
                                <td>No.1</td>
                                <td> 12.3.2024</td>
                                <td>200000</td>
                                <td class="text-danger">Active</td>
                                <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#paymentDetails">payment list</button></td>
                                <div class="modal fade" id="paymentDetails" tabindex="-1" aria-labelledby="paymentDetailsLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="paymentDetailsLabel">Payment Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body-scrollable">
                                                <!-- this section to be generated by js and client payment details will be used -->
                                                <div class="list-group ">
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <td>No.2</td>
                                <td> 11.4.2024</td>
                                <td>400000</td>
                                <td class="text-success">Done</td>
                                <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#paymentDetails">payment list</button></td>
                                <div class="modal fade" id="paymentDetails" tabindex="-1" aria-labelledby="paymentDetailsLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="paymentDetailsLabel">Payment Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body-scrollable">
                                                <!-- this section to be generated by js and client payment details will be used -->
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.20<div> <strong>Total portifolio </strong> <span> 5000000</span> </div>22</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col">Date: 1.2.2022</div>
                                                            <div class="col text-end">Amount: Ugx 20000</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>