<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Payment Details</title>
    <link   rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .modal-body-scrollable {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white d-flex flex-row justify-content-center align-item-space p-3">
        <div class="container">
            <a href="{{url_for('clientProfile')}}" class=" btn navbar-brand"> Back</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-toggle" aria-controls="footer" aria-label="Expand Navigation">
                <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse navbar-collapse" id="header-toggle">
                <ul class="navbar nav ms-auto">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="me-5">
                                    <span class="text-success">Cumulative Principle Paid (Ugx)</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-info">Balance</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-success">Loan Term Coverd(Days)</span>
                                    
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success">
                                    Ugx <span class="text-success" id="cumlt_value"> </span>
                                </td>
                                <td class="text-info">
                                    Ugx <span class="text-info" id="balance"></span>
                                </td>
                                <td >
                                    <span class="text-success" id="time_covered"> </span> <span class="text-success" > Days</span>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <!-- <li class="nav-item me-3"> <strong>Cumulative Principle Paid:</strong> <span class="text-success">Ugx 20000</span> </li>
                    <li class="nav-item me-3"> <strong>Balance:</strong><span class="text-danger">Ugx 1000</span></li>
                    <li class="nav-item me-3"><strong>Loan Term Coverd:</strong> <span class="text-success">10 Days</span> </li>
                    <li class="nav-item"><strong> Loan Term Remaining</strong> <span class="text-info">20 Days</span> </li> --
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Number Of Payments</th>
                                <th>Date Of Payment</th>
                                <th>Commitment</th>
                                <th>Paid</th>
                                <th>Overdue(+) /prepaid(-)</th>
                                <th>Current Portfolio/ Balance</th>
                                

                            </tr>
                        </thead>
                        <tbody id="generated_content">
                            <!-- this to be generated by the js and client  payment details  
                             
                            
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-dark" href="/recieptsdetails">Receipt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchPaymentdetails(){
            return  await fetch("/clientpaymentDetails?type=payementDetails")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching loan payment details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
        };

        function generateHtml(data) {
            let html = "";
            data.forEach((obj, index) =>{
                html  += `
                    <tr>
                        <td>${index +1}</td>
                        <td>${obj["date"]}</td>
                        <td>${obj["Commitment"]}</td>
                        <td>${obj["Paid"]}</td>
                        <td>${obj["Balance"]}</td>
                        <td>${obj["Portifolio"]}</td>
                    </tr>
                `
            })
            return html ;
            
        };

        function statistics(data){
            let amount_total = 0;
            data.forEach(obj =>{
                amount_total += obj["Paid"]

            })
            return amount_total
        }

        async function loadHml() {
            const data = await fetchPaymentdetails();
            const ghtml = await generateHtml(data);
            const stat = await statistics(data);
            const lastPayment = data.slice(-1)
            document.getElementById("generated_content").innerHTML = ghtml;
            document.getElementById("cumlt_value").innerHTML = stat;
            document.getElementById("time_covered").innerHTML += data.length;
            document.getElementById("balance").innerHTML  = lastPayment[0]["Portifolio"];
           
            
           
            
        };
        loadHml();

        
    </script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Payment Details</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .modal-body-scrollable {
            max-height: 300px;
            overflow-y: auto;
        }

        @media print {
    body * {
      visibility: hidden;
    }

    #receiptContent, #receiptContent * {
      visibility: visible;
    }

    #receiptContent {
      position: absolute;
      top: 0;
      left: 0;
      width: 58mm;
      padding: 0;
      margin: 0;
    }

    @page {
      size: 58mm 210mm;
      margin: 0;
    }
  }

         
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white d-flex flex-row justify-content-center align-item-space p-3">
        <div class="container">
            <a href="{{url_for('clientProfile')}}" class=" btn navbar-brand"> Back</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-toggle" aria-controls="footer" aria-label="Expand Navigation">
                <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse navbar-collapse" id="header-toggle">
                <ul class="navbar nav ms-auto">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="me-5"><span class="text-success">Principle Paid (Ugx)</span></th>
                                <th class="me-5"><span class="text-info">Current Portifolio</span></th>
                                <th class="me-5"><span class="text-info">Penalties Paid</span></th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success">Ugx <span class="text-success" id="cumlt_value"> </span></td>
                                <td class="text-info">Ugx <span class="text-info" id="balance"></span></td>
                                <td>Ugx <span class="text-success" id="penaltyPaid"> </span> <span class="text-success"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow p-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date Of Payment</th>
                                <th>Commitment</th>
                                <th>Paid</th>
                                <th>Overdue</th>
                                <th>Penalty</th>
                                <th>Portifolio</th>
                                <th>Receipt</th>
                            </tr>
                        </thead>
                        <tbody id="generated_content">
                            <!-- generated by JS -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Receipt Modal -->
    <div class="modal fade" id="receiptModal" tabindex="-1" aria-labelledby="receiptModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-2">
                <div class="modal-header">
                    <h5 class="modal-title" id="receiptModalLabel">Payment Receipt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="receiptContent">
                    <!-- Filled dynamically -->
                </div>
                <div class="modal-footer">
                    <button onclick="printReceipt()" class="btn btn-dark">🖨️ Print</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchPaymentdetails() {
            return await fetch("/clientpaymentDetails?type=payementDetails")
                .then(response => {
                    if (!response.ok) throw new Error("Server error while fetching loan payment details");
                    return response.json();
                })
                .catch(error => {
                    console.error(error);
                    return [];
                });
        }
        

        async function fetchClientPenaltiesAndOverdue() {
            return await fetch("/clientpaymentDetails?type=clientpenaltiesOverdue")
            .then(response =>{
                if (!response.ok){
                    throw new Error("server error while fetching client credit details")
                }
                return response.json()
            })
            .then(data =>{
                return data
            })
            .catch(error =>{
                console.log(error)
            })
            
        }
        async function fetchClientTotalPenaltiesAndOverdue() {
            return await fetch("/clientpaymentDetails?type=clientTotalpenaltiesOverdue")
            .then(response =>{
                if (!response.ok){
                    throw new Error("server error while fetching client credit details")
                }
                return response.json()
            })
            .then(data =>{
                return data
            })
            .catch(error =>{
                console.log(error)
            })
            
        }

        async function fetchTotalPenaltyPaid() {
            return await fetch("/clientpaymentDetails?type=penaltypaid")
            .then(response =>{
                if (!response.ok){
                    throw new Error("server error while fetching client credit details")
                }
                return response.json()
            })
            .then(data =>{
                return data
            })
            .catch(error =>{
                console.log(error)
            })
            
        }

        function generateHtml(data, list_of_portifolio,total_penalties_paid) {
            let html = "";
            const portifolio_list = list_of_portifolio;
            var total_penalty = 0
           
            data.forEach((obj, index) => {
                
                total_penalty += parseFloat(obj['Penalty'])
                let current_portifolio = parseFloat(portifolio_list[index]) + total_penalty
                const jsonString = encodeURIComponent(JSON.stringify(
                    {'Date':obj['Date'],'Paid':obj['Paid'],'Commitment':obj['Commitment'],'Overdue':obj['Overdue'],'Penalty':obj['Penalty'],'portifolio':current_portifolio, 'penalty_paid':total_penalties_paid}
                ));
                
                html += `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${obj["Date"]}</td>
                        <td>${obj["Commitment"]}</td>
                        <td>${obj["Paid"]}</td>
                        <td>${obj["Overdue"]}</td>
                        <td>${obj["Penalty"]}</td>
                        <td> ${current_portifolio}</td>
                        <td>
                            <button class="btn btn-sm btn-secondary" onclick="showReceipt('${jsonString}')">Receipt</button>
                        </td>
                    </tr>
                `;
            });
            return html;
        }

        function statistics(data) {
            return data.reduce((sum, obj) => sum + obj["Paid"], 0);
        }

        async function loadHml() {
            const data = await fetchPaymentdetails();
            let portfolio_lists = []
            data.forEach((payment_obj) =>{
                portfolio_lists.push(payment_obj['Portifolio'])
            })
            const penalties_overdue = await fetchClientPenaltiesAndOverdue();
            const total_penalty_OverDue = await fetchClientTotalPenaltiesAndOverdue();
            const total_penalties_paid = await fetchTotalPenaltyPaid()
            const ghtml = generateHtml(penalties_overdue,portfolio_lists,total_penalties_paid);
            const stat = statistics(data);
            const lastPayment = data.slice(-1)[0] || {};

            document.getElementById("generated_content").innerHTML = ghtml;
            document.getElementById("cumlt_value").innerHTML = stat;
            // document.getElementById("time_covered").innerHTML = data.length;
            document.getElementById("balance").innerHTML = lastPayment["Portifolio"] + parseFloat(total_penalty_OverDue['TotalPenalty'])|| 0;
            document.getElementById("penaltyPaid").innerHTML = total_penalties_paid['amount']
        }

        function showReceipt(paymentStr) {
           
            
            const payment = JSON.parse(decodeURIComponent(paymentStr));
            
            const date = new Date(payment.date).toLocaleString();
            console.log(payment.penalty_paid.amount)
            
            const receiptHtml = `
                <div class="receipt-body" style="width: 58mm; margin: auto; font-size: 11px; padding: 2mm; border: 1px solid #000;">
                    <div class="text-center fw-bold">Mkubwa Financing</div>
                    <div class="text-center fw-bold">Savings</div>
                    <hr>
                    <p><strong>Date:</strong> ${payment.Date}</p>
                    <p><strong>Amount Paid:</strong> UGX ${payment.Paid}</p>
                    <p><strong>Commitment:</strong> UGX ${payment.Commitment}</p>
                    <p><strong>Over Due:</strong> UGX ${payment.Overdue}</p>
                    <p><strong>Penalties:</strong> UGX ${payment.Penalty}</p>
                    <p><strong>Your Balance:</strong> UGX ${payment.portifolio - payment.penalty_paid.amount}</p>    
                    <hr>
                    <div class="text-center small">Thank you for your payment!</div>
                </div>
                `;
            document.getElementById("receiptContent").innerHTML = receiptHtml;
            const modal = new bootstrap.Modal(document.getElementById("receiptModal"));
            modal.show();
        }

        function printReceipt() {
            window.print();
        }

        loadHml();
    </script>
</body>
</html>
