<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Payment Details</title>
    <link   rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .modal-body-scrollable {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white d-flex flex-row justify-content-center align-item-space p-3">
        <div class="container">
            <a href="{{url_for('clientProfile')}}" class=" btn navbar-brand"> Back</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-toggle" aria-controls="footer" aria-label="Expand Navigation">
                <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse navbar-collapse" id="header-toggle">
                <ul class="navbar nav ms-auto">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="me-5">
                                    <span class="text-success">Cumulative Principle Paid (Ugx)</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-info">Balance</span>
                                    
                                </th>
                                <th class="me-5">
                                    <span class="text-success">Loan Term Coverd(Days)</span>
                                    
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-success">
                                    Ugx <span class="text-success" id="cumlt_value"> </span>
                                </td>
                                <td class="text-info">
                                    Ugx <span class="text-info" id="balance"></span>
                                </td>
                                <td >
                                    <span class="text-success" id="time_covered"> </span> <span class="text-success" > Days</span>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <!-- <li class="nav-item me-3"> <strong>Cumulative Principle Paid:</strong> <span class="text-success">Ugx 20000</span> </li>
                    <li class="nav-item me-3"> <strong>Balance:</strong><span class="text-danger">Ugx 1000</span></li>
                    <li class="nav-item me-3"><strong>Loan Term Coverd:</strong> <span class="text-success">10 Days</span> </li>
                    <li class="nav-item"><strong> Loan Term Remaining</strong> <span class="text-info">20 Days</span> </li> -->
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Number Of Payments</th>
                                <th>Date Of Payment</th>
                                <th>Commitment</th>
                                <th>Paid</th>
                                <th>Overdue(+) /prepaid(-)</th>
                                <th>Current Portfolio/ Balance</th>

                            </tr>
                        </thead>
                        <tbody id="generated_content">
                            <!-- this to be generated by the js and client  payment details  -->
                             
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchPaymentdetails(){
            return  await fetch("/clientpaymentDetails?type=payementDetails")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error while fetching loan payment details")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
        };

        function generateHtml(data) {
            let html = "";
            data.forEach((obj, index) =>{
                html  += `
                    <tr>
                        <td>${index +1}</td>
                        <td>${obj["date"]}</td>
                        <td>${obj["Commitment"]}</td>
                        <td>${obj["Paid"]}</td>
                        <td>${obj["Balance"]}</td>
                        <td>${obj["Portifolio"]}</td>
                    </tr>
                `
            })
            return html ;
            
        };

        function statistics(data){
            let amount_total = 0;
            data.forEach(obj =>{
                amount_total += obj["Paid"]

            })
            return amount_total
        }

        async function loadHml() {
            const data = await fetchPaymentdetails();
            const ghtml = await generateHtml(data);
            const stat = await statistics(data);
            const lastPayment = data.slice(-1)
            document.getElementById("generated_content").innerHTML = ghtml;
            document.getElementById("cumlt_value").innerHTML = stat;
            document.getElementById("time_covered").innerHTML += data.length;
            document.getElementById("balance").innerHTML  = lastPayment[0]["Portifolio"];
           
            
           
            
        };
        loadHml();

        
    </script>
</body>
</html>