

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Oficer Dashboard</title>
    
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark p-3" style="position: fixed; left: 0px; right: 0px; top: 0px; z-index: 2;">
        <div class="container">
            <a href="#" class="navbar-brand">
                NisaFinancing
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footer" aria-controls="footer" aria-label="Expand Navigation">
                <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse  navbar-collapse" id="footer">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#logoutmodal">setting</button>
                        <!-- <div class="modal  fade" id="logoutmodal" style="z-index: 1000;" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">You'r about to logout
                                        <button class="btn-close" data-bs-dismiss="modal"  data-bs-target="#logoutmodal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <a   class="btn btn-danger" href="#">log out</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <a href="#" class="nav-link"> settings</a> -->
                    </li>
                    <li class="nav-item">
                        <a     href="{{url_for('registerClient')}}" class="nav-link"> Create A/c</a>
                    </li>
                </ul>

            </div>
            

        </div>

    </nav>
        <!-- logout modal dialog -->
    <div class="modal  fade" id="logoutmodal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">You'r about to logout
                    <button class="btn-close" data-bs-dismiss="modal"  data-bs-target="#logoutmodal"></button>
                </div>
                <div class="modal-body">
                    <a   class="btn btn-danger" href="{{url_for('logout')}}">log out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 90px;">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
           <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                        <div class="card-title">
                            <h1>
                                Portfolio
                            </h1>
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, deleniti?
                        </div>
                    </div>
                </div>
           </div> 

           <!-- targets -->
           <div class="col">
            <div class="card shadow-sm">
                <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                    <div class="card-title">
                        <h1>
                            Targets
                        </h1>
                    </div>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, deleniti?
                    </div>
                </div>
            </div>
       </div>
            <!-- collection -->
            <div class="col ">
                <div class="card shadow-sm">
                    <div class="card-body d-flex  flex-column justify-content-center  align-items-center">
                        <div class="card-title">
                            <h1>
                                Collection
                            </h1>
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, deleniti?
                        </div>
                    </div>
                </div>
           </div> 
       </div> 
           
        </div>
    </div>

    <!-- side bar -->

    <div class="container mt-3">
        <div class="row row-cols-3  row-cols-lg-4  row-cols-xl-6 gy-2">
            <!-- payment button -->
            <!-- <div class="col">
                <div class="card shadow" >
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#payment"> make a payment</button>
                    <div class="modal fade" id="payment">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>
                                        select category of payment
                                    </div>
                                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#payment"></button>
                                </div>
                                <div class="modal-body">
                                    <a class="btn btn-primary" href="{{url_for('payment')}}">credit</a>
                                    <a class="btn btn-primary" href="{{url_for('payment')}}"> saving</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->

            <!-- recievables -->
            <div class="col">
                <div class="card shadow" >
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#corrections">  View Receivables </button>
                    <div class="modal fade" id="corrections">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>
                                        select category of collections
                                    </div>
                                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#corrections"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- this should take you to credit collection page of all clients -->
                                    <a href="{{url_for('recievablesCredit')}}" class="btn btn-secondary">Credit</a>

                                     <!-- this should take you to savings collection page of all clients -->                                    
                                    <a class="btn btn-secondary" href="{{url_for('recievablesSavings')}}"> Savings</a>
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- collection sheet -->
            <div class="col">
                <div class="card">
                    <a href="{{url_for('collectionSheet')}}"  class="btn btn-primary"> collection sheet</a>
                </div>
            </div>

            <!-- overview and penalty a/c -->

            <div class="col">
                <div class="card">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#overdue">Overdue & Penalty A/C</button>
                <div class="modal " id="overdue">
                    <div class="modal-dialog modal-dialog-centered" >
                        <div class="modal-content">
                            <div class="modal-header">
                                select overdue category
                                <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#overdue"></button>
                            </div>
                            <div class="modal-body">
                                <a href="{{url_for('overdueAndPenalties')}}" class="btn btn-primary"> view List</a>
                                <!-- <a href="#" class="btn btn-primary"> Old</a> -->
                            </div>
                        </div>
                    </div>
                </div> 
                </div>
            </div>

            <!-- clients center -->
            <div class="col">
                <div class="card shadow" >
                        <!-- this links us the active client page,and those on Hold page,  -->
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clientCenter">Client Center</button>
                    <div class="modal fade" id="clientCenter">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>
                                        client lists
                                    </div>
                                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#clientCenter"></button>
                                </div>
                                <div class="modal-body">
                                    <a class="btn btn-primary" href="{{url_for('ActiveClients')}}">Active Loan</a>
                                    <a class="btn btn-secondary" href="{{url_for('onHoldClients')}}"> Finshed Loan </a>
                                    <a class="btn btn-info" href="{{url_for('allClientList')}}"> All clients </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- quick view -->
            <div class="col">
                <div class="card shadow-sm">
                    <a  href="{{url_for('loanApplication')}}" class="btn btn-primary" >
                        Loan Application
                    </a>
                </div>
            </div>



        </div>
    </div>

    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            let selectElement = document.getElementById("clientSelect")
            selectElement.addEventListener("change",function(){
                const selectedOption = selectElement.options[selectElement.selectedIndex];
                const clientName = selectedOption.value
                var clienttId = selectedOption.getAttribute("data-client-id")

                if(clientName){
                    if(clienttId){
                        // here we will send client id to server to fetch client details
                        // and then update the client prifile section
                        var modalBody = document.getElementById("clientDetails")
                        modalBody.innerHTML = `
                            <div class= "container">
                                <div class="row row-cols-2 g-3">
                                    <div class="col">
                                        <div class="card shadow-sm" >
                                            <button class="btn text-info " data-bs-target="#clientinfo" data-bs-toggle="modal">
                                                PERSONAL INFO    
                                            </button>
                                            <div class="modal" id="clientinfo">
                                                <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            Client: ${clientName}
                                                            <button class=" btn-close" data-bs-dismiss="modal" data-bs-target="#clientinfo"></button>    
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <div> DOB: 12/3/1393</div>
                                                            <div> GENDER: male</div>
                                                            <div> CONTACT: 078888888</div>
                                                            <div> ADDRES: wampewo</div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                              
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <div class="card shadow-sm" >
                                            <button class="btn text-info " data-bs-target="#currentLoan" data-bs-toggle="modal">
                                                CURRENT LOAN  
                                            </button>
                                            <div class="modal" id="currentLoan">
                                                <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            LOAN TYPE: Bussines
                                                            <button class=" btn-close" data-bs-dismiss="modal" data-bs-target="#currentLoan"></button>    
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <div> Loan Amount: Ugx 200,000</div>
                                                            <div> Interest Rate: 20%</div>
                                                            <div> Total: Ugx 240,000</div>
                                                            <div> Payment schedule: daily </div>
                                                            <div> Loan Period: 30 days</div>
                                                            <div class=" text-success"> Balance: Ugx 59000</div>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                              
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card shadow-sm" >
                                            <button class="btn text-info " data-bs-target="#creditHistory" data-bs-toggle="modal">
                                                CREDIT HISTORY  
                                            </button>
                                            <div class="modal" id="creditHistory">
                                                <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            CREDIT SCORES: 67%
                                                            <button class=" btn-close" data-bs-dismiss="modal" data-bs-target="#creditHistory"></button>    
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <div> Current loan: 90% </div>
                                                            <div> loan 2: 70%</div>
                                                            <div> loan 1: 89%</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                              
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card shadow-sm" >
                                            <button class="btn text-info " data-bs-target="#savingInvestments" data-bs-toggle="modal">
                                                SAVINGS 
                                            </button>
                                            <div class="modal" id="savingInvestments">
                                                <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            annual interest 3%
                                                            <button class=" btn-close" data-bs-dismiss="modal" data-bs-target="#savingInvestments"></button>    
                                                        </div>
                                                        <div class="modal-body"> 
                                                            <div class=" text-success"> saving: Ugx 59000</div>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        `;

                        const displayHtml = new bootstrap.Modal(document.getElementById('clientProfile'));
                        displayHtml.show();
                    }
                }
            })

        })
    </script> 
</body>
</html>



