<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Balances</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="  position: fixed; top: 0px; right: 0px; left: 0px; z-index: 2; margin-bottom: 34px;">
        <div class="container">
            <div class="navbar-brand">
                Nisa Financing
            </div>
            <div class="navbar-nav">
                <li class="nav-item">
                    <a href="{{url_for('credit')}}" class="nav-link">Back</a>
                </li>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Credit Collections</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Account Number</th>
                            <th>Customer Name</th>
                            <th>Branch</th>
                            <th>Phone Number</th>
                            <th>Balance</th>
                            
                        </tr>
                    </thead>
                    <tbody id="p_content">
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetch_collections() {
            return fetch("/creditbalance?type=portifolioDetails")
                    .then(response =>{
                        if(!response.ok){
                            throw new Error("error while fetching portifolio details from credit route")
                        }
                        return response.json()
                    })
                    .then(data =>{
                        return data
                    })
                    .catch(error =>{
                        console.log(error)
                    })
        };
        function generateHtml(data){
            let html = "";
            if(data){
                data.forEach((obj) =>{
                    html += `
                        <tr>
                            <td>${obj["accountNumber"]}</td>
                            <td> ${obj["lastname"]} <span> </span> ${obj["FirstName"]}</td>
                            <td> ${ obj["BranchName"]}</td>
                            <td>${obj["phoneNumber"]}</td>
                            <td> ${obj["portifolio"]} </td>
                            
                        </tr>   
                    `
                })

                return html
            }
            return "current portifolio is zero"
        };

        async function loadhtml() {
            const data = await fetch_collections();
            const html =  await generateHtml(data);
            document.getElementById("p_content").innerHTML = html;
            
        };
        loadhtml()
        
    </script>
    
</body>
</html>