<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overdue and penalty</title>
    <link  rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .table-wraper{
            height: 200px;
            overflow: auto;
        }

        .table-fixed-header thead th{
            position: sticky;
            background-color: white;
            top: 0px;
            z-index: 1;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a href="#" class="navbar-brand">jovilFinancing</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div style="color: white;">  <strong >Total Overdue (Ugx):</strong> <span class="text-danger p-4"> 2000000</span> </div>
                    
                    <!-- <a href="#" class="nav-link">Home</a> -->
                </li>
                <li class="nav-item">
                    <div style="color: white;">  <strong>Total Penalties (Ugx):</strong> <span class="text-info p-4"> 2000000</span> </div>

                    <!-- <a href="#" class="nav-link">Back</a> -->
                </li>
                
            </ul>

        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-head bg-success">
                        statistics
                    </div>
                    <div class="card-body">
                        <div> <strong>No. of clients with Overdue:</strong> <span> 20</span> </div>
                        <div> <strong>Total No. of clients</strong> <span> 23</span> </div>
                    
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head bg-danger">
                        statistics
                    </div>
                    <div class="card-body">
                        <div> <strong style="color: brown;">Overdue</strong> <span> 500000</span> </div>
                        <div> <strong>Penalties</strong> <span> 230000</span> </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container mt-3">
       
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="client's name" >
                            <button class="btn btn-outline-secondary" type="button" > search</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-lg  table-wraper ">
                            <table class="table table-fixed-header table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Branch</th>
                                        <th>Gender</th>
                                        <!-- <th>portifolio</th>
                                        <th>Contact</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- table rows to be generated by js -->
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="#">kollo james</a>
                                        </td>
                                        <td> Kalerwe-Wandegeya</td>
                                        <td> Male</td>
                                        <!-- <td>300000</td>
                                        <td>0755981066</td> -->
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <a href="#">Joan Namukisa</a>
                                        </td>
                                        <td>Kampala-natete</td>
                                        <td> Female</td>
                                        <!-- <td>100000</td>
                                        <td>0755981066</td> -->
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <a href="#">Luwesi Ema</a>
                                        </td>
                                        <td> Kalerwe-Wandegeya</td>
                                        <td> Male</td>
                                        <!-- <td>200000</td>
                                        <td>0755981066</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>