<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> savings</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .table-wrapper{
            height: 200px;
            overflow: auto;

        }

        .table-fixed-header thead th{
            position: sticky;
            top: 0;
            background: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md nav-dark bg-dark text-white">
        <div class="container">
            <div class="nav-bland">
                <a href="{{url_for('branch')}}" class="nav-link">Back</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">home</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div >statistics</div>
                    </div>
                    <div class="card-body">
                        <div>Client Saved: <span id="totalnumberOfclients"></span></div>
                        <div>Total Amount saved: <span id="total_investments" style="color: rgb(236, 107, 8);"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="card" style="height: auto;">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="client's name">
                            <button class="btn btn-outline-secondary" type="button">search</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-lg table-wrapper" >
                            <table class="table table-fixed-header table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Savings (Ugx)</th>
                                        <th>branch</th>
                                        
                                    </tr>
    
                                </thead>
                                <tbody id="content_body">
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchInvestmentDetails() {
            return await fetch("/recievablesSavingsOnManagerspage?type=savings")
                .then(response =>{
                    if(!response.ok){
                        throw new Error("server error  while fetching investment details for a specfic employee")
                    }
                    return response.json()
                })
                .then(data =>{
                    return data
                })
                .catch(error =>{
                    console.log(error)
                })
            
        };

        function generateHtml(data){
            var html = "";
            var total = 0;
            var numberOfClient = data.length;
            if (data){
                data.forEach((obj,index) =>{
                    total += Number(obj["Amount"]);
                    html += `
                        <tr>
                            <td> ${index + 1}</td>
                            <td> ${obj["fname"]} <span> </span> ${obj["lName"]} </td>
                            <td style="color: rgb(236, 107, 8);"> ${obj["Amount"]}</td>
                            <td> ${obj["BranchName"]}</td>
                            
                        </tr>
                    `
                })
            }else{
                html += "<div>No one has invested yet </div>"
            };
            return {"html":html,"total":total, "numberOfsavings":numberOfClient};

        };

        async function loadHtml() {
            const data = await fetchInvestmentDetails();
            const details = generateHtml(data);
            document.getElementById("content_body").innerHTML = details["html"];
            document.getElementById("total_investments").innerHTML = details["total"];
            document.getElementById("totalnumberOfclients").innerHTML = details["numberOfsavings"];

        };
        loadHtml();
         
    </script>
    
</body>
</html>